<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Personenverwaltung</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Personenverwaltung" />
        <meta name="author" content="HC" />

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" th:href="@{/static/bootstrap-5.0.2-dist/css/bootstrap.min.css}"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <br/>
                    <h1 class="bg-primary">Personenveraltung</h1>
                </div>
            </div>
        </div>

        <div th:each="person : ${persons}">
            <p th:text="${person.firstname}"></p>
        </div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script th:src="@{/static/bootstrap-5.0.2-dist/js/bootstrap.min.js}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    </body>
</html>